<%= content_for :title, 'Mis reservas' %>

<%= content_for :body do %>
  <section id="page-content" class="sidebar-left">
    <div class="container">
      <div class="row">

        <!-- post content -->
        <div class="content col-md-10">
          <div id="tabs-003" class="tabs simple">
            <h3>Mis estacionaminetos</h3>
            <p>Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam auam quaerat voluptatem.</p>
            <a class="btn btn-colored right" href="/parking/add">Nuevo estacionamiento</a><br />
            <ul class="tabs-navigation">
              <li class="active"><a href="#list_active"><i class="fa fa-home"></i>Con reservas</a></li>
              <li><a href="#list_history"><i class="fa fa-archive"></i>Sin reservas</a></li>
            </ul>
            <div class="tabs-content">
              <div class="tab-pane active" id="list_active">

                <!-- PAGINATOR -->
                <div class="right">
                  <ul class="pagination pagination-rounded text-green text-right">
                    <li><a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-left"></i></span> </a> </li>
                    <li><a href="#">1</a> </li>
                    <li><a href="#">2</a> </li>
                    <li class="active"><a href="#">3</a> </li>
                    <li><a href="#">4</a> </li>
                    <li><a href="#">5</a> </li>
                    <li><a href="#" aria-label="Next"> <span aria-hidden="true"><i class="fa fa-angle-right"></i></span> </a> </li>
                  </ul>
                  <br><br>
                </div>
                <!-- END: PAGINATOR -->

                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>
                      <div class="row">
                        <div class="col-md-8 text-center">NOMBRE / DESCRIPCIÖN</div>
                        <div class="col-md-4 text-center">CÖDIGO / FECHA</div>
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="widget-shop">
                            <div class="product">
                              <div class="product-image">
                                <a href="#"><img
                                class="img-thumbnail"
                                src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNjI3NWEyNGNlNyB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE2Mjc1YTI0Y2U3Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA2MjUiIHk9Ijc0LjU1NjI1Ij4xNDB4MTQwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="Shop product image!">
                                </a>
                              </div>
                              <div class="product-description">
                                <div class="product-category">&nbsp;</div>
                                <div class="product-title">
                                  <h3><a href="#">Lorem ipsum</a></h3>
                                  Lorem ipsum dolor sit amet consectetur adipiscing elit, purus lacinia commodo egestas quis dapibus habitasse scelerisque, tincidunt natoque dignissim proin nascetur pretium varius, malesuada platea porttitor nulla mattis conubia. Ante auctor nulla accumsan mi vivamus hendrerit eu, penatibus pulvinar maecenas quisque porta sociosqu taciti, nisl netus natoque imperdiet nunc congue. Nibh hac pellentesque lobortis nisi accumsan tortor netus mollis venenatis, cubilia phasellus tincidunt sollicitudin facilisi semper sagittis iaculis, at aliquam taciti aenean mauris inceptos integer vehicula.<br>
                                  <a class="btn btn-dark btn-outline right" href="#" data-target="#modal-map" data-toggle="modal">VER MAPA <i class="fa fa-map-marker"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="widget-shop">
                            <div class="product">
                              <div class="product-image">
                                <a href="#"><img
                                class="img-thumbnail"
                                src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNjI3NWEyNGNlNyB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE2Mjc1YTI0Y2U3Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA2MjUiIHk9Ijc0LjU1NjI1Ij4xNDB4MTQwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="Shop product image!">
                                </a>
                              </div>
                              <div class="product-description">
                                <div class="product-category">&nbsp;</div>
                                <div class="product-title">
                                  <h3><a href="#">Lorem ipsum</a></h3>
                                  Lorem ipsum dolor sit amet consectetur adipiscing elit, purus lacinia commodo egestas quis dapibus habitasse scelerisque, tincidunt natoque dignissim proin nascetur pretium varius, malesuada platea porttitor nulla mattis conubia. Ante auctor nulla accumsan mi vivamus hendrerit eu, penatibus pulvinar maecenas quisque porta sociosqu taciti, nisl netus natoque imperdiet nunc congue. Nibh hac pellentesque lobortis nisi accumsan tortor netus mollis venenatis, cubilia phasellus tincidunt sollicitudin facilisi semper sagittis iaculis, at aliquam taciti aenean mauris inceptos integer vehicula.<br>
                                  <a class="btn btn-dark btn-outline right" href="#" data-target="#modal-map" data-toggle="modal">VER MAPA <i class="fa fa-map-marker"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="widget-shop">
                            <div class="product">
                              <div class="product-image">
                                <a href="#"><img
                                class="img-thumbnail"
                                src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNjI3NWEyNGNlNyB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE2Mjc1YTI0Y2U3Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA2MjUiIHk9Ijc0LjU1NjI1Ij4xNDB4MTQwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="Shop product image!">
                                </a>
                              </div>
                              <div class="product-description">
                                <div class="product-category">&nbsp;</div>
                                <div class="product-title">
                                  <h3><a href="#">Lorem ipsum</a></h3>
                                  Lorem ipsum dolor sit amet consectetur adipiscing elit, purus lacinia commodo egestas quis dapibus habitasse scelerisque, tincidunt natoque dignissim proin nascetur pretium varius, malesuada platea porttitor nulla mattis conubia. Ante auctor nulla accumsan mi vivamus hendrerit eu, penatibus pulvinar maecenas quisque porta sociosqu taciti, nisl netus natoque imperdiet nunc congue. Nibh hac pellentesque lobortis nisi accumsan tortor netus mollis venenatis, cubilia phasellus tincidunt sollicitudin facilisi semper sagittis iaculis, at aliquam taciti aenean mauris inceptos integer vehicula.<br>
                                  <a class="btn btn-dark btn-outline right" href="#" data-target="#modal-map" data-toggle="modal">VER MAPA <i class="fa fa-map-marker"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="widget-shop">
                            <div class="product">
                              <div class="product-image">
                                <a href="#"><img
                                class="img-thumbnail"
                                src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNjI3NWEyNGNlNyB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE2Mjc1YTI0Y2U3Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA2MjUiIHk9Ijc0LjU1NjI1Ij4xNDB4MTQwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="Shop product image!">
                                </a>
                              </div>
                              <div class="product-description">
                                <div class="product-category">&nbsp;</div>
                                <div class="product-title">
                                  <h3><a href="#">Lorem ipsum</a></h3>
                                  Lorem ipsum dolor sit amet consectetur adipiscing elit, purus lacinia commodo egestas quis dapibus habitasse scelerisque, tincidunt natoque dignissim proin nascetur pretium varius, malesuada platea porttitor nulla mattis conubia. Ante auctor nulla accumsan mi vivamus hendrerit eu, penatibus pulvinar maecenas quisque porta sociosqu taciti, nisl netus natoque imperdiet nunc congue. Nibh hac pellentesque lobortis nisi accumsan tortor netus mollis venenatis, cubilia phasellus tincidunt sollicitudin facilisi semper sagittis iaculis, at aliquam taciti aenean mauris inceptos integer vehicula.<br>
                                  <a class="btn btn-dark btn-outline right" href="#" data-target="#modal-map" data-toggle="modal">VER MAPA <i class="fa fa-map-marker"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <!-- PAGINATOR -->
                <div class="right">
                  <ul class="pagination pagination-rounded text-green text-right">
                    <li><a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-left"></i></span> </a> </li>
                    <li><a href="#">1</a> </li>
                    <li><a href="#">2</a> </li>
                    <li class="active"><a href="#">3</a> </li>
                    <li><a href="#">4</a> </li>
                    <li><a href="#">5</a> </li>
                    <li><a href="#" aria-label="Next"> <span aria-hidden="true"><i class="fa fa-angle-right"></i></span> </a> </li>
                  </ul>
                </div>
                <!-- END: PAGINATOR -->

              </div>
              <div class="tab-pane" id="list_history">

                <!-- PAGINATOR -->
                <div class="right">
                  <ul class="pagination pagination-rounded text-green text-right">
                    <li><a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-left"></i></span> </a> </li>
                    <li><a href="#">1</a> </li>
                    <li><a href="#">2</a> </li>
                    <li class="active"><a href="#">3</a> </li>
                    <li><a href="#">4</a> </li>
                    <li><a href="#">5</a> </li>
                    <li><a href="#" aria-label="Next"> <span aria-hidden="true"><i class="fa fa-angle-right"></i></span> </a> </li>
                  </ul>
                  <br><br>
                </div>
                <!-- END: PAGINATOR -->

                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>
                      <div class="row">
                        <div class="col-md-8 text-center">NOMBRE / DESCRIPCIÖN</div>
                        <div class="col-md-4 text-center">CÖDIGO / FECHA</div>
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="widget-shop">
                            <div class="product">
                              <div class="product-image">
                                <a href="#"><img
                                class="img-thumbnail"
                                src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNjI3NWEyNGNlNyB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE2Mjc1YTI0Y2U3Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA2MjUiIHk9Ijc0LjU1NjI1Ij4xNDB4MTQwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="Shop product image!">
                                </a>
                              </div>
                              <div class="product-description">
                                <div class="product-category">&nbsp;</div>
                                <div class="product-title">
                                  <h3><a href="#">Lorem ipsum</a></h3>
                                  Lorem ipsum dolor sit amet consectetur adipiscing elit, purus lacinia commodo egestas quis dapibus habitasse scelerisque, tincidunt natoque dignissim proin nascetur pretium varius, malesuada platea porttitor nulla mattis conubia. Ante auctor nulla accumsan mi vivamus hendrerit eu, penatibus pulvinar maecenas quisque porta sociosqu taciti, nisl netus natoque imperdiet nunc congue. Nibh hac pellentesque lobortis nisi accumsan tortor netus mollis venenatis, cubilia phasellus tincidunt sollicitudin facilisi semper sagittis iaculis, at aliquam taciti aenean mauris inceptos integer vehicula.<br>
                                  <a class="btn btn-dark btn-outline right" href="#" data-target="#modal-map" data-toggle="modal">VER MAPA <i class="fa fa-map-marker"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="widget-shop">
                            <div class="product">
                              <div class="product-image">
                                <a href="#"><img
                                class="img-thumbnail"
                                src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNjI3NWEyNGNlNyB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE2Mjc1YTI0Y2U3Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA2MjUiIHk9Ijc0LjU1NjI1Ij4xNDB4MTQwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="Shop product image!">
                                </a>
                              </div>
                              <div class="product-description">
                                <div class="product-category">&nbsp;</div>
                                <div class="product-title">
                                  <h3><a href="#">Lorem ipsum</a></h3>
                                  Lorem ipsum dolor sit amet consectetur adipiscing elit, purus lacinia commodo egestas quis dapibus habitasse scelerisque, tincidunt natoque dignissim proin nascetur pretium varius, malesuada platea porttitor nulla mattis conubia. Ante auctor nulla accumsan mi vivamus hendrerit eu, penatibus pulvinar maecenas quisque porta sociosqu taciti, nisl netus natoque imperdiet nunc congue. Nibh hac pellentesque lobortis nisi accumsan tortor netus mollis venenatis, cubilia phasellus tincidunt sollicitudin facilisi semper sagittis iaculis, at aliquam taciti aenean mauris inceptos integer vehicula.<br>
                                  <a class="btn btn-dark btn-outline right" href="#" data-target="#modal-map" data-toggle="modal">VER MAPA <i class="fa fa-map-marker"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="widget-shop">
                            <div class="product">
                              <div class="product-image">
                                <a href="#"><img
                                class="img-thumbnail"
                                src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNjI3NWEyNGNlNyB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE2Mjc1YTI0Y2U3Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA2MjUiIHk9Ijc0LjU1NjI1Ij4xNDB4MTQwPC90ZXh0PjwvZz48L2c+PC9zdmc+" alt="Shop product image!">
                                </a>
                              </div>
                              <div class="product-description">
                                <div class="product-category">&nbsp;</div>
                                <div class="product-title">
                                  <h3><a href="#">Lorem ipsum</a></h3>
                                  Lorem ipsum dolor sit amet consectetur adipiscing elit, purus lacinia commodo egestas quis dapibus habitasse scelerisque, tincidunt natoque dignissim proin nascetur pretium varius, malesuada platea porttitor nulla mattis conubia. Ante auctor nulla accumsan mi vivamus hendrerit eu, penatibus pulvinar maecenas quisque porta sociosqu taciti, nisl netus natoque imperdiet nunc congue. Nibh hac pellentesque lobortis nisi accumsan tortor netus mollis venenatis, cubilia phasellus tincidunt sollicitudin facilisi semper sagittis iaculis, at aliquam taciti aenean mauris inceptos integer vehicula.<br>
                                  <a class="btn btn-dark btn-outline right" href="#" data-target="#modal-map" data-toggle="modal">VER MAPA <i class="fa fa-map-marker"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>

                <!-- PAGINATOR -->
                <div class="right">
                  <ul class="pagination pagination-rounded text-green text-right">
                    <li><a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-left"></i></span> </a> </li>
                    <li><a href="#">1</a> </li>
                    <li><a href="#">2</a> </li>
                    <li class="active"><a href="#">3</a> </li>
                    <li><a href="#">4</a> </li>
                    <li><a href="#">5</a> </li>
                    <li><a href="#" aria-label="Next"> <span aria-hidden="true"><i class="fa fa-angle-right"></i></span> </a> </li>
                  </ul>
                </div>
                <!-- END: PAGINATOR -->

              </div>
            </div>
          </div>
        </div>
        <!-- end: post content -->

        <!-- SIDEBAR -->
        <%= render partial: 'layouts/sidebar' %>
        <!-- END: SIDEBAR -->

      </div>
    </div>
  </section>

  <div class="modal fade" id="modal-map" tabindex="-1" role="modal" aria-labelledby="modal-label-3" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
          <h4 id="modal-label-3" class="modal-title">Lorem ipsum</h4>
        </div>
        <div class="modal-body">
          <div class="row mb20">
            <div class="col-sm-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium atque architecto quae ullam rem labore veritatis temporibus asperiores, ad eaque odit commodi inventore dolore perspiciatis, nam dicta est eos id quod excepturi.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 xs-box">
              <img src="https://maps.googleapis.com/maps/api/staticmap?center=Upc+San+Miguel&zoom=13&size=400x200&maptype=roadmap
              &markers=color:red%7Clabel:C%7CUpc+San+Miguel&scale=2
              &key=AIzaSyCKaalD6aoqaV-eaUeIlCgtbtTr47vx_Ik" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-b" type="button">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
