<%= content_for :title, 'Comentarios' %>

<%= content_for :body do %>
<section id="page-content" class="sidebar-left">
    <div class="container">
      <div class="row">
   
    <!-- post content -->
        <div class="content col-md-10">
          <div id="tabs-003" class="tabs simple">
            <div class="post-navigation">
              <a href="blog-single-slider.html" class="post-prev">
            <div class="post-prev-title"><span>Vista Previa</span>Ver comentarios anteriores</div>
            </a>
              <a href="blog-masonry-3.html" class="post-all">
              <i class="fa fa-th"></i>
            </a>
            <a href="blog-single-video.html" class="post-next">
              <div class="post-next-title"><span>Vista Posterior</span>Ver comentarios posteriores</div>
            </a>
            </div>
        <div class="comments" id="comments">
    <div class="comment_number">
    Comentarios <span>(2)</span>
    </div>
    <div class="comment-list">

  <div class="comment" id="comment-1">
    <div class="image"><img alt="" src="images/blog/author.jpg" class="avatar"></div>
      <div class="text">
        <h5 class="name">John Doe</h5>
        <span class="comment_date">Posteado a las 15:32h, 06 Diciembre</span>
        <a class="comment-reply-link" href="#">Responder</a>
        <div class="text_holder">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
  <div class="comment" id="comment-1-1">
    <div class="image"><img alt="" src="images/blog/author2.jpg" class="avatar"></div>
      <div class="text">
        <h5 class="name">John Doe</h5>
        <span class="comment_date">Posteado a las 15:32h, 06 Diciembre</span>
        <a class="comment-reply-link" href="#">Responder</a>
      <div class="text_holder">
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal </p>
      </div>
     </div>
  </div>


  <div class="comment" id="comment-1-2">
    <div class="image"><img alt="" src="images/blog/author3.jpg" class="avatar"></div>
      <div class="text">
        <h5 class="name">John Doe</h5>
        <span class="comment_date">Posteado a las 15:32h, 06 Diciembre</span>
        <a class="comment-reply-link" href="#">Responder</a>
      <div class="text_holder">
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
      </div>
      </div>
  </div>

  </div>
    <div class="comment" id="comment-2">
      <div class="image"><img alt="" src="images/blog/author2.jpg" class="avatar"></div>
        <div class="text">
          <h5 class="name">John Doe</h5>
          <span class="comment_date">Posteado a las 15:32h, 06 Diciembre</span>
          <a class="comment-reply-link" href="#">Responder</a>
          <div class="text_holder">
          <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
          </div>
        </div>
    </div>
  </div>
  </div>
  <div class="respond-form" id="respond">
    <div class="respond-comment">
      Envianos tu <span>Comentario</span></div>
      <form class="form-gray-fields">
    <div class="row">
      <div class="col-md-4">
         <div class="form-group">
          <label class="upper" for="name">Nombre</label>
          <input class="form-control required" name="senderName" placeholder="Ingresar Nombre" id="name" aria-required="true" type="text">
         </div>
      </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="upper" for="email">Email</label>
      <input class="form-control required email" name="senderEmail" placeholder="Ingresar Email" id="email" aria-required="true" type="email">
    </div>
  </div>

  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="upper" for="comment">Comentario</label>
          <textarea class="form-control required" name="comment" rows="9" placeholder="Ingresar Comentario" id="comment" aria-required="true"></textarea>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group text-center">
        <button class="btn" type="submit">Enviar Comentario</button>
      </div>
    </div>
  </div>
      </form>
    </div>
  </div>
</div>



<!-- end: post content -->

        <!-- SIDEBAR -->
        <%= render partial: 'layouts/sidebar' %>
        <!-- END: SIDEBAR -->

      </div>
    </div>
</section>

  <div class="modal fade" id="modal-map" tabindex="-1" role="modal" aria-labelledby="modal-label-3" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
          <h4 id="modal-label-3" class="modal-title">Lorem ipsum</h4>
        </div>
        <div class="modal-body">
          <div class="row mb20">
            <div class="col-sm-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium atque architecto quae ullam rem labore veritatis temporibus asperiores, ad eaque odit commodi inventore dolore perspiciatis, nam dicta est eos id quod excepturi.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 xs-box">
              <img src="https://maps.googleapis.com/maps/api/staticmap?center=Upc+San+Miguel&zoom=13&size=400x200&maptype=roadmap
              &markers=color:red%7Clabel:C%7CUpc+San+Miguel&scale=2
              &key=AIzaSyCKaalD6aoqaV-eaUeIlCgtbtTr47vx_Ik" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-b" type="button">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
<% end %>