<%= content_for :title, 'Contacto' %>

<%= content_for :body do %>
  <section>
    <div class="hr-title hr-long center"><abbr>Contacto</abbr></div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 animated visible zoomIn" data-animation="zoomIn" data-animation-delay="500">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="upper" for="name">Nombre y apellido</label>
                <input type="text" class="form-control required" name="senderName" placeholder="Ingresar nombre y apellido" id="name" aria-required="true">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="upper" for="email">Correo electrónico</label>
                <input type="email" class="form-control required email" name="senderEmail" placeholder="Ingresar correo electrónico" id="email" aria-required="true">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="upper" for="phone">Teléfono / Celular</label>
                <input type="text" class="form-control required" name="phone" placeholder="Ingresar teléfono / celular" id="phone" aria-required="true">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="upper" for="company">Empresa</label>
                <input type="text" class="form-control required" name="company" placeholder="Ingresar empresa" id="company" aria-required="true">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="upper" for="comment">Comentario</label>
                <textarea class="form-control required" name="comment" rows="9" placeholder="Ingresar comentario" id="comment" aria-required="true"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group text-center">
                <button class="btn btn-default" type="submit"><i class="fa fa-paper-plane"></i>&nbsp;Enviar mensaje</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
<% end %>
