<%= content_for :title, 'Inicio' %>

<%= content_for :body do %>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="heading heading text-left">
            <h2>THE COMPANY</h2>

          </div>
        </div>
        <div class="col-md-9"><div class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, <br> <br> facilisis ut venenatis eu, sodales vel dolor.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. </div>

          <div class="col-md-6">Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis.   Suspendisse consectetur fringilla luctus.  Fusce id mi diam, non ornare orci. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor. Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.  <br> <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volut.</div></div>

      </div>
    </div>
  </section>

  <section class="box-fancy section-fullwidth text-light p-b-0">
    <div class="row">
      <div style="background-color:#917d5d" class="col-md-4">
        <h1 class="text-large text-uppercase">01.</h1>
        <h3>CONCEPT</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. </span>
      </div>

      <div style="background-color:#a08c6c" class="col-md-4">
        <h1 class="text-large text-uppercase">02.</h1>
        <h3>DEVELOPMENT</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. </span>
      </div>

      <div style="background-color:#ad9979" class="col-md-4">
        <h1 class="text-large text-uppercase">03.</h1>
        <h3>TESTING</h3>
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, sem quis lacinia faucibus, orci ipsum gravida tortor, vel interdum mi sapien ut justo. Nulla varius consequat magna, id molestie ipsum volutpat quis. Suspendisse consectetur fringilla luctus. </span>
      </div>
    </div>
  </section>
  <section class="background-grey">
    <div class="container">
      <div class="heading heading-center">
        <h2>OUR TEAM</h2>
        <span class="lead">Create amaLorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
      </div>
      <div class="row team-members team-members-shadow m-b-40">
        <div class="col-md-4 col-md-offset-1">
          <div class="team-member">
            <div class="team-image">
              <img src="/images/team/6.jpg">
            </div>
            <div class="team-desc">
              <h3>Anthony Ayllón</h3>
              <span>Software Developer</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique hendrerit ex ut laoreet. </p>
              <div class="align-center">
                <a class="btn btn-xs btn-slide btn-light" href="#">
                  <i class="fa fa-facebook"></i>
                  <span>Facebook</span>
                </a>
                <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                  <i class="fa fa-twitter"></i>
                  <span>Twitter</span>
                </a>
                <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                  <i class="fa fa-instagram"></i>
                  <span>Instagram</span>
                </a>
                <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                  <i class="fa fa-envelope"></i>
                  <span>Mail</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
          <div class="team-member">
            <div class="team-image">
              <img src="/images/team/7.jpg">
            </div>
            <div class="team-desc">
              <h3>Edwin Salas</h3>
              <span>Software Developer</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique hendrerit ex ut laoreet. </p>
              <div class="align-center">
                <a class="btn btn-xs btn-slide btn-light" href="#">
                  <i class="fa fa-facebook"></i>
                  <span>Facebook</span>
                </a>
                <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                  <i class="fa fa-twitter"></i>
                  <span>Twitter</span>
                </a>
                <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                  <i class="fa fa-instagram"></i>
                  <span>Instagram</span>
                </a>
                <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                  <i class="fa fa-envelope"></i>
                  <span>Mail</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row team-members team-members-shadow m-b-40">
        <div class="col-md-4">
          <div class="team-member">
            <div class="team-image">
              <img src="/images/team/7.jpg">
            </div>
            <div class="team-desc">
              <h3>Jesús Aguilar</h3>
              <span>Software Developer</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique hendrerit ex ut laoreet. </p>
              <div class="align-center">
                <a class="btn btn-xs btn-slide btn-light" href="#">
                  <i class="fa fa-facebook"></i>
                  <span>Facebook</span>
                </a>
                <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                  <i class="fa fa-twitter"></i>
                  <span>Twitter</span>
                </a>
                <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                  <i class="fa fa-instagram"></i>
                  <span>Instagram</span>
                </a>
                <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                  <i class="fa fa-envelope"></i>
                  <span>Mail</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-member">
            <div class="team-image">
              <img src="/images/team/9.jpg">
            </div>
            <div class="team-desc">
              <h3>Allen Infante</h3>
              <span>Software Developer</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique hendrerit ex ut laoreet. </p>
              <div class="align-center">
                <a class="btn btn-xs btn-slide btn-light" href="#">
                  <i class="fa fa-facebook"></i>
                  <span>Facebook</span>
                </a>
                <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                  <i class="fa fa-twitter"></i>
                  <span>Twitter</span>
                </a>
                <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                  <i class="fa fa-instagram"></i>
                  <span>Instagram</span>
                </a>
                <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                  <i class="fa fa-envelope"></i>
                  <span>Mail</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-member">
            <div class="team-image">
              <img src="/images/team/9.jpg">
            </div>
            <div class="team-desc">
              <h3>Julio Juárez</h3>
              <span>Software Developer</span>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique hendrerit ex ut laoreet. </p>
              <div class="align-center">
                <a class="btn btn-xs btn-slide btn-light" href="#">
                  <i class="fa fa-facebook"></i>
                  <span>Facebook</span>
                </a>
                <a class="btn btn-xs btn-slide btn-light" href="#" data-width="100">
                  <i class="fa fa-twitter"></i>
                  <span>Twitter</span>
                </a>
                <a class="btn btn-xs btn-slide btn-light" href="#" data-width="118">
                  <i class="fa fa-instagram"></i>
                  <span>Instagram</span>
                </a>
                <a class="btn btn-xs btn-slide btn-light" href="mailto:#" data-width="80">
                  <i class="fa fa-envelope"></i>
                  <span>Mail</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
