<%= content_for :title, 'Inicio' %>

<%= content_for :body do %>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="heading heading text-left">
            <h2>SISTEMA DE CONTROL DE PARQUEOS</h2>

          </div>
        </div>
        <div class="col-md-9"><div class="col-md-6">
Más y más conductores están buscando estacionamiento cada día, ¿y la rotación de tu parqueadero sigue siendo la misma? ¡Nosotros le llevamos los autos a su estacionamiento!

Parky.net es la solución para alcanzar la máxima rentabilidad en tu negocio. Una nueva generación de sistema de control de estacionamiento que consigue el máximo beneficio, productividad y control de tu parqueadero. Cada día hay más y más autos buscan estacionamiento cerca de su destino. Parky.net lleva esos conductores hasta su estacionamiento, incrementando su negocio y consiguiendo nuevos ingresos.</div>

          <div class="col-md-6">

        Años de experiencia nos han llevado a desarrollar un sistema para el control de estacionamientos de gran fiabilidad, gran calidad y a un precio competitivo. El sistema de control de estacionamiento incrementará significativamente su productividad con el mínimo coste añadido, siendo un sistema flexible, modular y confiable. Combina lo mejor de nuestros equipos para estacionamientos junto con los servicios online de última tecnología para captar nuevos conductores.</div></div>

  </section>

  <section class="box-fancy section-fullwidth text-light p-b-0">
    <div class="row">
      <div style="background-color:#917d5d" class="col-md-4">
        <h1 class="text-large text-uppercase">01.</h1>
        <h3>CONCEPT</h3>
        <span>Ponemos a su disposición todas las máquinas que su parqueo necesita, como las barreras vehiculares, cajeros automáticos o dispensadores y lectores de tickets para en control de accesos de estacionamiento; funcionando de forma robusta y duradera. Éstas trabajan en perfecta sintonía con las herramientas de software propio para estacionamientos, que le permitirán realizar informes, controlar la facturación y gestionar su parqueo de forma sencilla y segura. </span>
      </div>

      <div style="background-color:#a08c6c" class="col-md-4">
        <h1 class="text-large text-uppercase">02.</h1>
        <h3>DEVELOPMENT</h3>
        <span>Ponemos a su disposición todas las máquinas que su parqueo necesita, como las barreras vehiculares, cajeros automáticos o dispensadores y lectores de tickets para en control de accesos de estacionamiento; funcionando de forma robusta y duradera. Éstas trabajan en perfecta sintonía con las herramientas de software propio para estacionamientos, que le permitirán realizar informes, controlar la facturación y gestionar su parqueo de forma sencilla y segura </span>
      </div>

      <div style="background-color:#ad9979" class="col-md-4">
        <h1 class="text-large text-uppercase">03.</h1>
        <h3>TESTING</h3>
        <span>Ponemos a su disposición todas las máquinas que su parqueo necesita, como las barreras vehiculares, cajeros automáticos o dispensadores y lectores de tickets para en control de accesos de estacionamiento; funcionando de forma robusta y duradera. Éstas trabajan en perfecta sintonía con las herramientas de software propio para estacionamientos, que le permitirán realizar informes, controlar la facturación y gestionar su parqueo de forma sencilla y segura </span>
      </div>
    </div>
  </section>

<% end %>
