<%= content_for :title, 'Mis calificaciones' %>

<%= content_for :body do %>
  <section id="page-content" class="sidebar-left">
    <div class="container">
      <div class="row">

        <!-- post content -->
        <div class="content col-md-10">
          <div id="tabs-003" class="tabs simple">
            <h3>Mis calificaciones</h3>
            <p>Adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam auam quaerat voluptatem.</p>
            <ul class="tabs-navigation">
              <li class="active"><a href="#list_active"><i class="fa fa-home"></i>Realizadas</a></li>
              <li><a href="#list_history"><i class="fa fa-archive"></i>Recibidas</a></li>
            </ul>
            <div class="tabs-content">
              <div class="tab-pane active" id="list_active">

                <!-- PAGINATOR -->
                <div class="right">
                  <ul class="pagination pagination-rounded text-green text-right">
                    <li><a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-left"></i></span> </a> </li>
                    <li><a href="#">1</a> </li>
                    <li><a href="#">2</a> </li>
                    <li class="active"><a href="#">3</a> </li>
                    <li><a href="#">4</a> </li>
                    <li><a href="#">5</a> </li>
                    <li><a href="#" aria-label="Next"> <span aria-hidden="true"><i class="fa fa-angle-right"></i></span> </a> </li>
                  </ul>
                  <br><br>
                </div>
                <!-- END: PAGINATOR -->

                <hr />
                <div class="comments" id="comments">
                  <div class="comment-list">

                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>
                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>
                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>
                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>
                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>
                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- PAGINATOR -->
                <div class="right">
                  <ul class="pagination pagination-rounded text-green text-right">
                    <li><a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-left"></i></span> </a> </li>
                    <li><a href="#">1</a> </li>
                    <li><a href="#">2</a> </li>
                    <li class="active"><a href="#">3</a> </li>
                    <li><a href="#">4</a> </li>
                    <li><a href="#">5</a> </li>
                    <li><a href="#" aria-label="Next"> <span aria-hidden="true"><i class="fa fa-angle-right"></i></span> </a> </li>
                  </ul>
                </div>
                <!-- END: PAGINATOR -->

              </div>
              <div class="tab-pane" id="list_history">

                <!-- PAGINATOR -->
                <div class="right">
                  <ul class="pagination pagination-rounded text-green text-right">
                    <li><a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-left"></i></span> </a> </li>
                    <li><a href="#">1</a> </li>
                    <li><a href="#">2</a> </li>
                    <li class="active"><a href="#">3</a> </li>
                    <li><a href="#">4</a> </li>
                    <li><a href="#">5</a> </li>
                    <li><a href="#" aria-label="Next"> <span aria-hidden="true"><i class="fa fa-angle-right"></i></span> </a> </li>
                  </ul>
                  <br><br>
                </div>
                <!-- END: PAGINATOR -->

                <hr />
                <div class="comments" id="comments">
                  <div class="comment-list">

                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>
                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>
                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>
                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>
                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>
                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>
                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>
                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>
                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>
                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>
                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author2.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>
                    <div class="row comment">
                      <div class="col-md-5">
                        <div class="image"><img alt="" src="/images/blog/author3.jpg" class="avatar"></div>
                        <div class="text">
                          <h5 class="name">John Doe</h5>
                          <span class="comment_date">Posted at 15:32h, 06 December</span>
                          <!--<a class="comment-reply-link" href="#">Reply</a>-->
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star"></div>
                        <div class="fa fa-star-half-o"></div>
                        <div class="fa fa-star-o"></div>
                      </div>
                      <div class="col-md-3">
                        <btn class="btn btn-colored btn-outline"><strong>Código reserva: </strong> XYA-142</btn>
                      </div>
                    </div>

                  </div>
                </div>

                <!-- PAGINATOR -->
                <div class="right">
                  <ul class="pagination pagination-rounded text-green text-right">
                    <li><a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-left"></i></span> </a> </li>
                    <li><a href="#">1</a> </li>
                    <li><a href="#">2</a> </li>
                    <li class="active"><a href="#">3</a> </li>
                    <li><a href="#">4</a> </li>
                    <li><a href="#">5</a> </li>
                    <li><a href="#" aria-label="Next"> <span aria-hidden="true"><i class="fa fa-angle-right"></i></span> </a> </li>
                  </ul>
                </div>
                <!-- END: PAGINATOR -->

              </div>
            </div>
          </div>
        </div>
        <!-- end: post content -->

        <!-- SIDEBAR -->
        <%= render partial: 'layouts/sidebar' %>
        <!-- END: SIDEBAR -->

      </div>
    </div>
  </section>

  <div class="modal fade" id="modal-map" tabindex="-1" role="modal" aria-labelledby="modal-label-3" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
          <h4 id="modal-label-3" class="modal-title">Lorem ipsum</h4>
        </div>
        <div class="modal-body">
          <div class="row mb20">
            <div class="col-sm-12">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium atque architecto quae ullam rem labore veritatis temporibus asperiores, ad eaque odit commodi inventore dolore perspiciatis, nam dicta est eos id quod excepturi.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 xs-box">
              <img src="https://maps.googleapis.com/maps/api/staticmap?center=Upc+San+Miguel&zoom=13&size=400x200&maptype=roadmap
              &markers=color:red%7Clabel:C%7CUpc+San+Miguel&scale=2
              &key=AIzaSyCKaalD6aoqaV-eaUeIlCgtbtTr47vx_Ik" />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-b" type="button">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
