<header id="header">
  <div id="header-wrap">
    <div class="container">
      <!--Logo-->
      <div id="logo">
        <a href="/" class="logo" data-dark-logo="/images/logo-dark.png">
          <img src="/images/logo.png" alt="Estaciona Aquí Logo">
        </a>
      </div>
      <!--End: Logo-->

      <!--Header Extras-->
      <div class="header-extras">
        <ul>
          <li>
            <div class="text-right form-group">
            </div>
          </li>
          <li>
          </li>
        </ul>
      </div>
      <!--end: Header Extras-->
      <!--Navigation-->
      <div id="mainMenu" class="light">
        <div class="container">
          <nav>
            <ul>
              <li><a href="/">Inicio</a></li>
              <li><a href="/contact">Contacto</a></li>
              <li><a href="/reservation/search">Search</a></li>
              <li><a class="text-green" href="/login">Login</a></li>
              <li><a class="text-green" href="/register">Registrar</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <!--end: Navigation-->
    </div>
  </div>
</header>
