<!-- SIDEBAR -->
<div class="sidebar col-md-2">
  <!-- WIDGET LINKS -->
  <div class="widget widget-newsletter">
    <h4 class="widget-title">Dashboard</h4>
    <ul class="list-icon list-icon-colored">
      <li><i class="fa fa-user"></i>&nbsp;&nbsp;Mi cuenta</li>
      <li><i class="fa fa-star"></i><a href="/feedback/view">&nbsp;&nbsp;Calificaciones</a></li>
      <li><i class="fa fa-car"></i><a href="/parking/view">Estacionamientos</a></li>
      <li><i class="fa fa-map-marker"></i><a href="/reservation/view">&nbsp;&nbsp;Reservas</a></li>
      <li><i class="fa fa-map-marker"></i><a href="/extra-service/view">&nbsp;&nbsp; Registrar servicios adicionales</a></li>
      <li><i class="fa fa-map-marker"></i><a href="/comment_parking/view">&nbsp;&nbsp; Comentarios</a></li>
    </ul>
  </div>
  <!-- END: WIDGET LINKS -->
</div>
<!-- END: SIDEBAR -->
